SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_KEY=your-supabase-service-role-key
SQUAD_SECRET_KEY=sandbox_sk_985c474d7977eb4af4349d23ae0a077b93e321b09047
SQUAD_BASE_URL=https://sandbox-api-d.squadco.com
ENVIRONMENT=development
FRONTEND_URL=http://localhost:3000
RECOVERY_CODE= 9GDMLA9YJD9XKWJT3BRZ1Z1H

